<div class="my-2">
  <%= form_with(model: @user, url: settings_password_path) do |form| %>
    <% if @user.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(@user.errors.count, "error") %> prohibited this event from being saved:</h2>

        <ul>
          <% @user.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="mb-3">
      <%= form.label :password_challenge, "Current password" %>
      <%= form.password_field :password_challenge, required: true, placeholder: "Current password", class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
    </div>
    <div class="mb-3">
      <%= form.label :password %>
      <%= form.password_field :password, required: true, minlength: 8, maxlength: 64, placeholder: "••••••••", class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
    </div>
    <div class="mb-3">
      <%= form.label :password_confirmation %>
      <%= form.password_field :password_confirmation, required: true, minlength: 8, maxlength: 64, placeholder: "••••••••", class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
    </div>
    <div class="mb-3">
      <%= form.submit "Update password", class: "rounded-lg py-2 px-3 bg-neutral-600 text-white hover:bg-neutral-700 inline-block font-medium cursor-pointer" %>
    </div>
  <% end %>
</div>
