<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Rails World 2024" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render("shared/navigation", title: "Rails World 2024") %>

    <main id="main" class="mx-auto max-w-full px-6 py-4 sm:py-6">
      <%= yield %>
    </main>


    <div aria-live="assertive" class="fixed inset-0 flex items-end px-2 py-3 pointer-events-none sm:p-3">
      <div class="w-full flex flex-col items-center space-y-4" id="flash_messages">
        <%= render("shared/flash") %>
      </div>
    </div>

    <script src="//fast.wistia.com/assets/external/E-v1.js" async></script>
  </body>
</html>
